{% extends 'market/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}




                <div class="container">
                <div class="row">
                    <div class="col-md-12  search-bar">
                        <form class="form-inline frm">
                            <div class="form-group col-md-3">
                                <select name="location" class="form-control" id="location">
                                    <option>&#xf041; Location</option>
                                    <option>Kano</option>
                                    <option>Kaduna</option>
                                    <option>Katsina</option>
                                </select>
                            </div>
                            <div class="form-group col-md-7">
                                <input type="text" id="textarea" class="form-control"  name="Search" placeholder="&#xf002; Search" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default" id="btnsearch" name="search" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>


                <!--<div class="row">
                   <div class="col-md-12 col-sm-12">
                      <div class="jumbotron">
                        <ul class="col-md-12 col-sm-12">
                                <div class="col-sm-2 thumbnail">
                                    <li><a href=""><img src="Assets/business/png/calculator.png"></a></li>
                                </div>
                                <div class="col-sm-2 thumbnail">
                                     <li><a href=""><img src="Assets/business/png/smartphone.png"></a></li>
                                </div>
                                <div class="col-sm-2 thumbnail">
                                      <li><a href=""><img src="Assets/business/png/laptop.png"></a></li>
                                </div>
                                <div class="col-sm-2 thumbnail">
                                      <li><a href=""><img src="Assets/business/png/briefcase.png"></a></li>
                                </div>
                                <div class="col-sm-2 thumbnail">
                                     <li><a href=""><img src="Assets/business/png/ringtone.png"></a></li>
                                </div>
                                <div class="col-sm-2 thumbnail">
                                     <li><a href=""><img src="Assets/business/png/wallet.png"></a></li>
                                </div>
                          </ul>
                      </div>
                    </div>
                </div>-->
                <section id="products">
                    <div class="row">
                        {% for item in items %}

                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="{% url 'ItemDetail' pk=item.pk %}">
                                <img src="{{ item.item_image }}">
                                <div class="caption">
                                    <h4 class="pull-right">N{{ item.item_price|intcomma }}</h4>
                                    <h4><a href="{% url 'ItemDetail' pk=item.pk %}">{{ item.item_title }}</a></h4>
                                </div>
                                </a>
                            </div>
                        </div>

                        {% endfor %}

                    </div><!--firstrow--><!--firstrow-->
                </section>
            </div>

        <hr height="5px"></hr>



{% endblock %}